<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/jquery.toast.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="icon" href="../img/Icon.png">
    <title>Serratec | Contato</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 logo">
      <img class="logo-serratec" src="http://serratec.org/residencia-de-software/assets/images/logo-neq-serratec-bra-152x56.png" alt="Logo Serratec">
      </div>
      </div>
  </div>
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-pills mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="./contato.html">Contato </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sobre.html">Sobre</a>
            </li>
          </ul>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch1" autocomplete="off">
            <label class="custom-control-label" for="switch1"><i class="fas fa-adjust"></i></label>
          </div> 
          </div>
          </nav>
      <div class="container">
        <div class="row"> 
        <div class="col-sm-12">
          <h2>Contato</h2>
          <p>Criado em 2002, o SerraTec também tem o apoio dos governos municipais das três cidades, além de entidades e instituições de ensino. O SerraTec abriga nas 3 cidades empresas nacionais e multinacionais, modernos laboratórios e centros de pesquisa, espaços de coworking e o que há de mais moderno em infraestrutura para o setor.
            A missão do SerraTec é tornar a região serrana fluminense uma referência ainda maior, atraindo novas empresas e fortalecendo as que já estão instaladas nestas 3 cidades, captando assim investimentos para o desenvolvimento regional e, não só isso, estando também no centro das principais inovações tecnológicas do país.</p>
          <p>Esta iniciativa trará impactos positivos em direção à capacitação e profissionalização, atraindo empresas e incentivando novos negócios.</p>

        </div> 
      </div>
        <div class="row">
          <div class="col-sm-6">
            <form action="#" class="needs-validation" novalidate>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" class="form-control" autocomplete="off" placeholder="exemplo@exemplo.com" id="email">
                <div class="valid-feedback">E-mail válido</div>
                <div class="invalid-feedback">Por favor insira um E-mail válido</div>
              </div>
              <div class="form-group">
                <label for="pwd">WhatsApp</label>
                <input type="tel" class="form-control required" pattern="[0-9]{5}-[0-9]{4}" autocomplete="off" placeholder="99999-9999" id="whatsapp">
                <div class="valid-feedback">Número válido.</div>
                <div class="invalid-feedback">Por favor insira uma número válido</div>
              </div>
              <div class="switch">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="check">
                  <label class="custom-control-label" for="check">Desejo receber atualizações sobre a Serratec</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="assunto">Assunto</label>
                <input type="text" class="form-control" autocomplete="off" id="assunto">
        </div>
        <div class="form-group">
          <label for="comment">Mensagem </label>
          <textarea style="resize: none" class="form-control" rows="3" id="comment"></textarea>
        </div> 
        <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
      </div>
    </form>
    </div>
      </div>

    <div class="page-footer footer-copyright relative text-center py-3">© 2020 Copyright:
      <a href="http://serratec.org/"> SerraTec</a>
    </div> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/31a2144e07.js" crossorigin="anonymous"></script>
<script src="../js/jquery.toast.js"></script>
<script src="../js/base.js"></script>
<script src="../js/contato.js"></script>
</body>
</html>