<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="icon" href="../img/Icon.png">

  <title>Serratec | Sobre</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 logo">
        <img class="logo-serratec"
          src="http://serratec.org/residencia-de-software/assets/images/logo-neq-serratec-bra-152x56.png"
          alt="Logo Serratec">
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contato.html">Contato </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="./sobre.html">Sobre</a>
        </li>
      </ul>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switch1" autocomplete="off">
        <label class="custom-control-label" for="switch1"><i class="fas fa-adjust"></i></label>
      </div>
    </div>
  </nav>
  <main class="container">
    <div class="row">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../img/reuniao.jpg" alt="Reunião">
                <div class="carousel-caption">
                  <h3>Reunião</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/turma-serratec.jpg" alt="Turma Serratec">
                <div class="carousel-caption">
                  <h3>Turma Serratec</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../img/palestra.png" alt="Palestra Ewander">
                <div class="carousel-caption">
                  <h3>Palestra Ewander Macedo</h3>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="media-body">
            <h2 class="text">Serratec</h2>
            <p class="text-justify "> CAPACITAÇÃO - O Serratec e seus parceiros desenharam um Programa de Residência de
              Software focado em Web, Mobile, Nuvem, Telecom e afins. A iniciativa visa suprir a demanda de
              profissionais capacitados para os empreendimentos que já atuam na região e atrair novas empresas.
            </p>
            <p>TEORIA E PRÁTICA - A Residência de Software é uma imersão que mistura o conhecimento teórico com a
              prática, para preparar profissionais no desenvolvimento de softwares. O residente participa de
              experiências diretas, como se estivesse dentro da empresa, resolvedo problemas reais.
            </p>
            <p>PROPRIEDADE INTELECTUAL - O Programa irá contribuir para a criação de propriedade intelectual, oferecendo
              o fomento de capital humano capaz de surfar a onda da revolução 4.0.</p>
          </div>
        </div>
      </div>
      <h1 class="text text-center">Alguns Apoiadores:</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="card" id="card">
            <img class="card-img-top" src="../img/logo-edulivre.png" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Apoio Educacional</h5>
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  <p class="card-text">A plataforma Educação Livre está dando o suporte para a realização das atividades
                    do processo seletivo da Residência de Software</p>
                </div>
              </div>
              <a class="btn btn-primary leia" id="need1" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample1">Ler mais</a>
              <a class="btn btn-primary saiba" href="https://www.edulivre.org.br/" target="blank" role="button">Saiba
                mais</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" id="card">
            <img class="card-img-top" src="../img/20180316-logo-sumicity-completo-vert-952x542.png" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Apoio Técnico</h5>
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                  <p class="card-text">O apoio da Sumicity ao projeto é essencial para garantir infraestrutura de rede
                    de qualidade aos alunos.</p>
                </div>
              </div>
              <a class="btn btn-primary leia" data-toggle="collapse" href="#multiCollapseExample2" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample2">Ler mais</a>
              <a class="btn btn-primary saiba" href="https://www.sumicity.com.br/" target="blank" role="button">Saiba
                mais</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" id="card">
            <img class="card-img-top" src="../img/alura-dark-600px-600x276.png" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">Apoio Educacional</h5>
              <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                  <p class="card-text">O apoio da Alura ao projeto é essencial para a capacitação dos alunos. A parceria
                    atribui a disponibilização de materiais e conteúdos que auxiliam professores e alunos no aprendizado
                    da tecnologia.</p>
                </div>
              </div>
              <a class="btn btn-primary leia"data-toggle="collapse" href="#multiCollapseExample3" role="button"
                aria-expanded="false" aria-controls="multiCollapseExample3">Ler mais</a>
              <a class="btn btn-primary saiba" href="https://www.alura.com.br/" target="blank" role="button">Saiba
                mais</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="page-footer footer-copyright relative text-center py-3">© 2020 Copyright:
      <a href="http://serratec.org/">SerraTec</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/31a2144e07.js" crossorigin="anonymous"></script>
    <script src="../js/base.js"></script>
    <script src="../js/change.js"></script>
</body>

</html>